<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AustinJShin.conversion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/comp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.AustinJShin.conversion.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
       	 	android:name="com.AustinJShin.conversion.DisplayMessageActivity"
        	android:label="@string/title_activity_display_message"
       	 	android:parentActivityName="com.AustinJShin.conversion.MainActivity" >
       	 	<meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.example.myfirstapp.MainActivity" />
   		</activity>
    </application>

</manifest>
